@using Web_App_VM_Management_System.dtos;

@{
    ViewData["Title"] = "VendItemList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<VendItemDTO>
<div class="middle-wrapper d-flex w-100 flex-column">


    <header class="main-header shadow-sm agent-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="dashboard-header-left d-flex align-items-center">

                    <button class="iconButton medium">
                        <i class="fas fa-shopping-cart"></i>
                    </button>

                    <nav>
                        <ol class="breadcrumb m-0">


                            <li class="breadcrumb-item active">
                                <a href="javascript:">VendItem Management</a>
                            </li>


                        </ol>
                    </nav>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="right-header-components">

                    @* <div class="dropdown create-button me-3">
                    <button class="iconButton medium notification iconHover custom-fa-col" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    </button>
                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                    <li>
                    <a class="dropdown-item p-1 active" href="/Product/AddProduct">
                    <button class="iconButton dropdown-iconBtn small active" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fal fa-desktop"></i>Create Inventory item
                    </button>
                    </a>
                    </li>
                    <li>
                    <a class="dropdown-item p-1" href="../users/create-user.html">
                    <button class="iconButton dropdown-iconBtn small"><i class="fal fa-users"></i></button>
                    Create User
                    </a>
                    </li>
                    <li>
                    <a class="dropdown-item p-1" href="../users/create-team.html">
                    <button class="iconButton dropdown-iconBtn small" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fal fa-users-class"></i>
                    </button>Create Team
                    </a>
                    </li>
                    <li>
                    <a class="dropdown-item p-1" href="../locations/create-locations.html">
                    <button class="iconButton dropdown-iconBtn small">
                    <i class="fal fa-map-marker-alt"></i>
                    </button>Create Location
                    </a>
                    </li>
                    <li>
                    <a class="dropdown-item p-1" href="../locations/create-access-point.html">
                    <button class="iconButton dropdown-iconBtn small">
                    <i class="fal fa-badge-check"></i>
                    </button>Create Access Point
                    </a>
                    </li>


                    </ul>
                    </div>*@
                    <div class="dropdown custom-dropdown-list w-auto notify me-3">
                        <a href="#" class="d-block" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <button class="iconButton medium notification iconHover">
                                <i class="fas fa-envelope fa-2x"></i>
                                <span class="badge bg-danger rounded-pill">5</span>
                            </button>
                        </a>
                        <ul class="dropdown-menu full_dropdown p-0 text-small user-profile-dropdown shadow" aria-labelledby="dropdownUser1">
                            <li class="notification-header dropdown-header p-0">
                                <ul class="notification-header w-100 p-2">
                                    <li>
                                        <div class="name-n-info">
                                            <h6 class="night m-0">Notifications</h6>
                                        </div>
                                        <a class="pb-1 pe-2 ps-2 pt-1 rounded-pill sky" href="#">Mark all as Read</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="notification-body dropdown-body">
                                <ul>
                                    <li>Today</li>
                                    <li>
                                        <a class="dropdown-item active" href="#">
                                            <span class="btn iconButton iconHover medium oceanBg me-1">
                                                <i class="fal fa-bell"></i>
                                            </span>
                                            <div class="ms-2 me-auto coal lh-1">
                                                <div class="night">Your average response time is low.</div>
                                                <small>11:30 AM</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="btn iconButton iconHover medium oceanBg me-1">
                                                <i class="fal fa-bell"></i>
                                            </span>
                                            <div class="ms-2 me-auto coal lh-1">
                                                <div class="night">Your average response time is low.</div>
                                                <small>11:30 AM</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>Yesterday</li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="btn iconButton iconHover medium oceanBg me-1">
                                                <i class="fal fa-bell"></i>
                                            </span>
                                            <div class="ms-2 me-auto coal lh-1">
                                                <div class="night">Your average response time is low.</div>
                                                <small>11:30 AM</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="btn iconButton iconHover medium oceanBg me-1">
                                                <i class="fal fa-bell"></i>
                                            </span>
                                            <div class="ms-2 me-auto coal lh-1">
                                                <div class="night">Your average response time is low.</div>
                                                <small>11:30 AM</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="btn iconButton iconHover medium oceanBg me-1">
                                                <i class="fal fa-bell"></i>
                                            </span>
                                            <div class="ms-2 me-auto coal lh-1">
                                                <div class="night">Your average response time is low.</div>
                                                <small>11:30 AM</small>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="notification-footer dropdown-footer p-0">
                                <ul class="card-footer w-100 border-0 p-0">
                                    <li>
                                        <div class="w-100">
                                            <a href="#" class="btn text-center d-block sky notification-view-all-btn">View all</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown custom-dropdown-list w-auto">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../images/avatar-2.jpg" alt="mdo" width="40" height="40" class="rounded-circle">
                            <span class="online-n-offline"></span>
                            <div class="name-n-info">
                                <span class="name">@User.Identity.Name</span>
                                @*<small>@@Mr. X</small>*@
                            </div>
                        </a>
                        <ul class="dropdown-menu full_dropdown p-0 text-small user-profile-dropdown shadow" aria-labelledby="dropdownUser1">
                            <li class="user-dropdown-header dropdown-header">
                                <ul>
                                    <li>
                                        <a href="#" class="link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://github.com/mdo.png" class="profile-pic rounded-circle" alt="mdo" width="50" height="50">
                                            <span class="online-n-offline on-off-btn"></span>
                                            <div class="name-n-info lh-sm">
                                                <h6 class="night m-0">@User.Identity.Name</h6>
                                                @*<small>@@salmankhan</small>*@
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                                <button class="iconButton medium iconHover">
                                    <i class="fal fa-cog"></i>
                                </button>
                            </li>

                            <li class="card-footer dropdown-footer p-2">
                                <ul class="w-100">
                                    <li>
                                        <div class="w-100">
                                            <a href="#" class="btn radicalBg text-center d-block">Sign Out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </header>

    <div class="content-box-wrapper d-flex w-100">
        <div class="middle-content d-flex">

            <div class="page-content-wrapper dashboard console-body-wrapper" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
                <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="w-auto w-100 inbox-container chat-message-component">
                        <div class="d-flex main-body-wrapper">
                            <div class="agent-page-main-content">
                                <div class="w-100 p-4">
                                    <div class="filter-toolbar mb-4">
                                        <div class="d-flex align-items-center">
                                            @*<ul class="list-inline m-0 d-flex align-items-center">
                                            <li class="list-inline-item">
                                            <div class="searchbar-click">
                                            <form class="searchbox">
                                            <input placeholder="Search device name" name="search" class="searchbox-input" required="">
                                            <span class="searchbox-icon medium iconButton">
                                            <i class="fa fa-search"></i>
                                            </span>
                                            </form>
                                            </div>
                                            </li>
                                            <li class="list-inline-item">
                                            <select class="form-select" placeholder="Make">
                                            <option selected="" disabled=""> Make</option>
                                            <option> All</option>
                                            <option> ZK </option>
                                            <option> HK </option>
                                            </select>
                                            </li>
                                            <li class="list-inline-item">
                                            <select class="form-select">
                                            <option selected="" disabled=""> Type</option>
                                            <option> All</option>
                                            <option>Face </option>
                                            <option> Bio</option>
                                            <option>RFID</option>
                                            </select>
                                            </li>
                                            <li class="list-inline-item">
                                            <select class="form-select">
                                            <option selected="" disabled=""> Status</option>
                                            <option> All</option>
                                            <option> Offline</option>
                                            <option>Online </option>
                                            </select>
                                            </li>

                                            </ul>*@
                                            <div class="ms-auto">
                                                <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-item"> <i class="fa fa-plus"></i>Add Item in Vending</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-container">
                                        @* <ul class="list-group list-group-horizontal border-0">
                                        <li class="list-group-item border-0 refreshicon" id="refreshpage" aria-label="..." data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Refresh">
                                        <i class="fal fa-redo"></i>
                                        </li>
                                        <li class="list-group-item border-0 after-select-fun" data-bs-toggle="modal" data-bs-target="#delete-device" aria-label="..." data-bs-placement="bottom" title="Delete" style="display: none;">
                                        <i class="fal fa-trash"></i>
                                        </li>
                                        <li class="list-group-item border-0 after-select-fun" data-bs-toggle="modal" data-bs-target="#disable-device" aria-label="..." data-bs-placement="bottom" title="Disable" style="display: none;">
                                        <i class="fal fa-ban"></i>
                                        </li>
                                        </ul>*@

                                        <div class="pagination-bar">
                                            <div class="dropdown">
                                                @*<button class="btn iconHover" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                1-100 of 569
                                                </button>*@
                                                @*   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Newest</a></li>
                                                <li><a class="dropdown-item" href="#"> Oldest</a></li>
                                                </ul>*@
                                            </div>

                                            @*                        <span class="iconButton medium iconHover">
                                            <i class="fal fa-chevron-left"></i>
                                            </span>
                                            <span class="iconButton medium iconHover">
                                            <i class="fal fa-chevron-right"></i>
                                            </span>*@
                                        </div>
                                    </div>
                                    <h6 style="color:@ViewBag.Color">@ViewBag.Message</h6><br />
                                    <div class="table-section table-scrool-y mb-3 query-container">
                                        <div class="alert alert-secondary text-center email-info-alert p-2" role="alert" style="display: none;">
                                            All <strong>100</strong> conversations on this page are selected.
                                            <a href="javascript:void(0);" class="all-conversation fw-bold sky btn">
                                                Select all
                                                569 conversations in devices
                                            </a>
                                            <a href="javascript:void(0);" class="clear-selection" style="display: none;">Clear selection</a>
                                        </div>
                                        <table id="venditem-list" class="table table-hover table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    @*<th>
                                                    <div class="filter-container">
                                                    <ul class="list-group list-group-horizontal border-0">
                                                    <li class="list-group-item border-0 all-check-boxes">
                                                    <input class="form-check-input me-1" type="checkbox" aria-label="..." data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Check All">

                                                    </li>

                                                    </ul>

                                                    </div>
                                                    </th>*@
                                                    <th>
                                                        Vending Machine Name
                                                    </th>
                                                    @*<th>
                                                    Description
                                                    </th>
                                                    <th>
                                                    Price
                                                    </th>
                                                    <th>
                                                    Quantity
                                                    </th>
                                                    <th>
                                                    Number of Floos
                                                    </th>
                                                    <th>
                                                    Each floor Capacity
                                                    </th>
                                                    <th>
                                                    Is Available
                                                    </th>
                                                    @*   <th>
                                                    Category
                                                    </th>*@
                                                    <th>Vending Items</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        @*<td><input class="form-check-input me-1" type="checkbox" aria-label="..."></td>*@
                                                        <td> <a href="#">@item.VendingMachineName</a></td>

                                                        @*<td>
                                                    @item.Description
                                                    </td>

                                                    <td>
                                                    @item.Price
                                                    </td>
                                                    <td>
                                                    @item.StockQuantity
                                                    </td>
                                                    <td>
                                                    @item.NumbeofFloors
                                                    </td>
                                                    <td>
                                                    @item.EachFloorCapacity
                                                    </td>
                                                    <td>
                                                    @(item.IsSoldOut == true ? "No" : "Yes")
                                                    </td>
                                                    <td>@item.ProductCategory.Name</td>*@
                                                        <td>
                                                            @(false ?
                                                                Html.Raw("<i class='fal fa - plus'></i><a  style='color: red' href='/VendItem/AddVendItem?vendingMachineId=" + 1 + "'>Add an Item</a>") :
                                                                Html.Raw("<a onclick=\"ViewItemDetails('" + item.VendingMachineName + "')\" title=\"View items\" style=\"color:blue\">" + item.ItemsCount + "</a>"))

                                                        </td>
                                                        <td>
                                                            <div class="icons-list d-flex dropstart justify-content-end">

                                                                <button class="btn iconButton small iconHover btn-group" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="fas fa-ellipsis-v action-icon" tabindex="0"></i>



                                                                </button>
                                                                <ul class="dropdown-menu fade">
                                                                    @*<li>
                                                                <a class="dropdown-item" href="~/engage/edit-device-form.html">
                                                                <i class="fas fa-edit edit-icon"></i> Edit
                                                                </a>
                                                                </li>*@

                                                                    <li>
                                                                        <a onclick="SetName('@item.VendingMachineName')" class="dropdown-item delete-dd" href="#" data-bs-toggle="modal" data-bs-target="#delete-device">
                                                                            <i class="fas fa-trash-alt delete-icon"></i> Delete
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1459px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 320.809px; transform: translate3d(0px, 0px, 0px);"></div></div>
            </div>

            <div class="modal fade" id="view-items" tabindex="-1" aria-labelledby="delete-device-Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            @* <h5 id="modal-title" class="modal-title line-head align-items-center" id="delete-device-Label"></h5> *@
                            @*<h6 class="modal-title line-head align-items-center" id="delete-device-Label">Name</h6>*@
                            <button type="button" class="btn iconHover pt-0 pb-0" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body p-5" style="max-height: 400px; overflow: auto;">
                            <!-- Content goes here -->
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tray number </th>
                                        <th>Items in Tray</th>
                                        @*<th>Machine name</th>*@

                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <!-- Populate table content here -->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="add-item" tabindex="-1" aria-labelledby="delete-device-Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="modal-title" class="modal-title line-head align-items-center" id="delete-device-Label"></h5>
                            @*<h6 class="modal-title line-head align-items-center" id="delete-device-Label">Name</h6>*@
                            <button type="button" class="btn iconHover pt-0 pb-0" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body p-5" style="max-height: 400px; overflow: auto;">
                            <!-- Add your form here -->
                            <form id="addProduct" method="post" action="/VendItem/AddVendItem" class="user-detail-form" enctype="multipart/form-data" style="width:100%">
                                @*<h6>Inventory Item Information</h6>*@
                                @* <span style="color:@ViewBag.color">@ViewBag.message</span> *@

                                <div class="border mb-4"></div>
                                <div class="row align-items-start">
                                    <div class="col-12">
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <select class="form-control" id="itemCategory" name="VendingMachineId" onchange="handleSelectChange(this)">
                                                    <option value="" selected disabled>Select</option>
                                                    @foreach (var opt in ViewBag.vmList)
                                                    {
                                                        <option @(ViewBag.vendingMachineId == opt.Id ? "selected" : "") value="@opt.Id">@opt.Name</option>
                                                    }
                                                    <!-- Add more options as needed -->
                                                </select>
                                                <label for="itemCategory">
                                                    Select Vending Machine<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <select class="form-control" id="selectFloor" name="FloorNumber">
                                                    <option value="" selected disabled>Select</option>

                                                </select>
                                                <label for="itemCategory">
                                                    Select Floor number<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <select class="form-control" id="itemCategory" name="InventoryItemId" required>
                                                    <option value="" selected disabled>Select</option>
                                                    @foreach (var opt in ViewBag.iItemsList)
                                                    {
                                                        <option value="@opt.Id">@opt.Name (@opt.QuantityInStock items remaining )</option>
                                                    }
                                                    <!-- Add more options as needed -->
                                                </select>
                                                <label for="itemCategory">
                                                    Select Inventory Item<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <input min="0" type="number" class="form-control" id="name" placeholder="item count" name="ItemCount">
                                                <label for="name">
                                                    Item count<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- These are the removed input fields -->
                                    <div class="col-6" hidden>
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <input type="number" class="form-control" id="name" placeholder="device name" name="price">
                                                <label for="name">
                                                    price<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" hidden>
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <input type="number" class="form-control" id="machineno" placeholder="machine number" name="quantityinstock">
                                                <label for="machineno">
                                                    quantity_in_stock<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" hidden>
                                        <div class="floating-item mb-4">
                                            <div class="form-floating mb-2">
                                                <input type="number" class="form-control" id="machineno" placeholder="machine number" name="weight">
                                                <label for="machineno">
                                                    weight<sup class="radical">*</sup>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of removed input fields -->

                                    <footer class="footer">
                                        <div class="ps-3 pe-3">
                                            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                                <div class="row w-100">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-8 justify-content-end d-flex">
                                                        <div class="buttons-wrap d-flex">
                                                            @*<button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4" data-bs-toggle="modal" data-bs-target="#cancel-changes">Cancel  </button>*@
                                                            @*<button type="button" class="btn btn-success ms-e f-saveBtn btn-large d-none"></button>*@
                                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-outline-primary mx-1">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>*@
                            <!-- Add a button to submit the form if needed -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="delete-device" tabindex="-1" aria-labelledby="delete-device-Label" aria-hidden="true">


                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title line-head" id="delete-device-Label">Confirm</h5>
                            <button type="button" class="btn iconHover pt-0 pb-0" data-bs-dismiss="modal" aria-label="Close"> <i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="icon-circle iconButton me-4 errorbg">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <p class="line-txt darkblue">Are you sure, you want to delete the record?</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" id="delete-link">Yes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
                <div class="toast hide border-0 p-2 h-100 navyBg" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
                        <p class="toast-line-para ice m-0"></p>
                        <div class="toast-btn d-flex align-items-center">

                            <button type="button" class="btn m-0 ms-2" data-bs-dismiss="toast"><i class="fal fa-times"></i></button>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#venditem-list').DataTable();
        //alert("hi")
    });
    var productName = "";
    function SetName(name) {
        console.log(name)
        productName = name;
        var dynamicUrl = "/VendItem/DeleteVendItem?name=" + productName;

        // Set the href attribute of the 'delete-link' anchor tag to the dynamic URL.
        $('#delete-link').attr('href', dynamicUrl);
    }
    function ViewItemDetails(vendingName) {
        $.ajax({
            url: '/VendItem/GetVendingItemsByMachineName?vendingMachineName=' + vendingName, // Replace with your API endpoint
            method: 'GET',
            success: function (data) {
                console.log(data)
                // Assuming data is an array of objects with properties matching the table columns
                const tableBody = $('#tableBody');
                tableBody.empty(); // Clear existing data
                $("#modal-title").text(data[0].machineName);
                data.forEach((item, index) => {
                    const row = `
                                <tr>
                                   <td>${item.trayNumber} <span style="color:red; font-size: smaller;">${item.isFloorCapacityFull ? "Capacity Full" : ""}</span></td>
                               <td>${item.trayItemsList}</td>
                                </tr>
                            `;
                    tableBody.append(row);
                });

                // Show the modal
                $('#view-items').modal('show');
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    }
    function handleSelectChange(selectElement) {
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var selectedId = selectedOption.value;
        $('#selectFloor').empty();
        $('#selectFloor').append(`<option value="">Select</option>`);
        $.ajax({
            url: "/VendItem/GetFloorsbyMachineId/?machineId=" + selectedId, // Replace with your API endpoint
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data.nOofFloors)
                var i;
                for (i = 1; i <= data.nOofFloors; ++i) {
                    $('#selectFloor').append(`<option value="${i}">
                                                       ${i}
                                                  </option>`);
                    // do something with `substr[i]`
                }
                // Handle the successful response here
                //$("#result").html("Title: " + data.title);
            },
            error: function (xhr, status, error) {
                // Handle errors here
                console.error("Error: " + status + " - " + error);
            }
        });
        // Now you can use the selectedId as needed.
        console.log("Selected ID: " + selectedId);

        // You can also pass the selectedId to another function or perform any other actions here.
    }
</script>